/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1em;
}

/*-------------------- Navbar ---*/

.menuitem a i {
  margin-right: 10px;
  margin-left: 20px;
}

/*-------------------- Colors ---*/

body {
  color: #9b9999;
}

.navbar-light .navbar-brand {
  color: #9b9999;
}

footer {
  background-color: #9b9999;
  border-color: #bffffb;
}

footer h6 {
  color: #fff;
}

footer p {
  color: #fff;
}

h3.section-heading a {
  color: #9b9999;
}

textarea.contact-form {
  color: #b8b7b7;
}

/*-------------------- Headings ---*/

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.general-sub {
  margin: 20px 0 20px 30px;
  font-weight: 300;
  font-size: 1.5em;
}

.social-links li a i {
  width: 32px;
  height: 32px;
  padding: 12px 0;
  border-radius: 50%;
  font-size: 13px;
  line-height: 7px;
  text-align: center;
  color: #fff;
  background: #8f8f8f;
  padding-bottom: 15px;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.social-links-facebook i:hover {
  background: #3b5998;
}

.social-links-twitter i:hover {
  background: #00acee;
}

.social-links-youtube i:hover {
  background: #ff0000;
}

h6 {
  font-weight: 400;
  text-transform: uppercase;
}

.section-heading {
  text-align: center;
}

div.section-heading {
  margin-bottom: 0;
}

.section-heading a {
  margin-top: 20px;
  font-size: 0.75em;
}

h3.section-heading a {
  text-decoration: none;
}

.page-header {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.page-header h2 {
  margin-bottom: 40px;
}

h2 span {
  margin-left: 10px;
}

/*-------------------- Text & Links ---*/

p.about {
  margin-top: 10px;
  margin-bottom: 0px;
  padding-right: 15%;
  padding-left: 15%;
  text-align: center;
}

p.section-overview {
  margin: 10px 30px 10px 30px;
  margin-left: 60px;
}

div.linkitem {
  padding: 0 0 0 10px;
}

a span {
  padding-right: 10px;
}

a.moreinfo {
  float: right;
  text-decoration: none;
  background-color: #fff;
  color: #8f8f8f;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #8f8f8f;
  border-right: 1px solid #8f8f8f;
  border-bottom: 1px solid #8f8f8f;
  border-left: 1px solid #8f8f8f;
  border-radius: 75px;
  margin: 0 10px 10px 0;
  font-size: 0.8em;
}

a.moreinfo.hvr-sweep-to-right {
margin-right: 60px;
margin-bottom: 60px;
}

.page-header p {
  margin-left: 20%;
  margin-right: 20%;
}

.services p {
  margin-bottom: 40px;
}

p.testimonial-link {
  margin-left: 30px;
}

p.quote {
  font-size: 0.75em;
}

blockquote p {
  font-size: 0.5em;
  float: right;
}

p.name-date {
  margin-bottom: 50px;
}

h6.general-sub {
  margin-right: 30px;
}

div.container {
margin-bottom: 10px;
}

div.container.section-heading {
margin-bottom: 0px;
}

div.container.complete {
  margin-bottom: 10px;
}

div.container.contact {
  margin-bottom: 60px;
}

section.container-fluid {
   min-height:100%;
   position:relative;
}

/*-------------------- Hover.css ---*/

a.hvr-sweep-to-right:hover {
  border-radius: 75px 75px 75px 75px;
}

.hvr-sweep-to-right:hover {
  color: #8f8f8f;
  border-radius: 75px 75px 75px 75px;
}

.hvr-sweep-to-right:before {
  color: #8f8f8f;
  background-color: #bffffb;
  border-radius: 75px 75px 75px 75px;
}

/*-------------------- Footer ---*/

footer {
  border-style: solid;
  border-width: 10px 0px 0px 0px;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

footer.container-fluid {
position:relative;
    width:100%;
    height:180px;
}

footer h6 {
  margin-top: 5px;
}

footer h6 i {
  padding-right: 5px;
}

footer p {
  font-size: 10px;
}

/*-------------------- Images ---*/

.dentalcare-image {
  height: 629px;
  width: 944px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  display: block;
  padding-top: 10px;
  border-radius: 75px;
}

.image-adjust {
  width: 250px;
  height: 250px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.services-image {
  display: inline;
  margin: 0 auto;
  margin-left: -40%;
  height: 100%;
  width: auto;
}

.services-image-secondary {
  display: inline;
  margin: 0 auto;
  margin-left: -5%;
  height: 100%;
  width: auto;
}

.testimonial-image {
  display: inline;
  margin: 0 auto;
  margin-bottom: 20%;
  margin-left: 10%;
  height: 100%;
  width: auto;
}

.testimonial-image-secondary {
  display: inline;
  margin: 0 auto;
  margin-right: 60%;
  height: 100%;
  width: auto;
}

.contact-image {
  height: 336.875px;
  width: 625px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 10px;
  border-radius: 75px;
}

div.contact-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.container.contact-image {
padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

div.container.page-divider {
margin-top: 0px;
}

/*-------------------- Forms ---*/

.contact {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}

/*-------------------- Icons ---*/

i.icon {
  margin-right: 10px;
  margin-left: 20px;
}

/*-------------------- Imported Code ---*/

/*-------------------- https://codepen.io/scottzirkel/pen/yNxNME ---*/

.hr-text {
  margin-top: 0px;
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: 0.5;
}

.hr-text:before {
  content: "";
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#9b9999), to(transparent));
  background: -o-linear-gradient(left, transparent, #9b9999, transparent);
  background: linear-gradient(to right, transparent, #9b9999, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}

.hr-text:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: black;
  padding: 0 0.5em;
  line-height: 1.5em;
  color: #9b9999;
  background-color: #fff;
}

.container {
  max-width: 100%;
  margin: 40px auto;
}

/*-------------------- Lists ---*/

ul {
  list-style-type: circle;
}

/*-------------------- Buttons ---*/

button.submit-button {
  float: right;
  border-radius: 75px 75px 75px 75px;
}

/*-------------------- Media Queries ---*/

@media only screen and (max-width: 768px) {
  .dentalcare-image {
    max-width: 100%;
    height: auto;
  }

div.container.contact-image {
margin-bottom: 40px;
}
  footer.container-fluid {
  height: 400px;
  }

  p.about {
    padding-right: 0;
    padding-left: 0;
    text-align: left;
  }

  .section-heading {
    text-align: left;
  }

  .image-adjust {
    width: 150px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .general-sub {
    text-align: center;
  }

  h3.general-sub {
  margin-left: 10px;
  margin-right: 10px;
  }

  .page-header p {
    margin-left: 0;
    margin-right: 0;
  }

  p.testimonial-link {
    margin: 0 0 15px 0;
    text-align: center;
  }

  p.section-overview {
  margin-left: 30px;
  }


  .contact-image {
    max-width: 100%;
    height: auto;
  }

  .contact {
    max-width: 100%;
    margin: 0;
  }
}

@media only screen and (min-width: 768px) and (max-height: 1024px) {
  
footer.container-fluid {
    height: 180px;
  }

  p.section-overview {
  margin-left: 30px;
  }

  p.testimonial-link {
  margin-left: 30px;
  }
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
  footer {
    position: absolute;
    bottom: 0;
  }

  footer.container-fluid {
    position: absolute;
    bottom: 0;
  }
}