@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700");

body {
  font-family: "Noto Sans JP", sans-serif;
}

/*-------------------- Navbar ---*/

.menuitem a i {
  margin-right: 10px;
  margin-left: 20px;
}

/*-------------------- Colors ---*/

body {
color: #9b9999;
}

.navbar-light .navbar-brand {
color:#9b9999;
}

footer {
  background-color: #9b9999;
  border-color: #bffffb;
}

footer h6 {
color: #fff;
}

footer p {
color: #fff;
}

h3.section-heading a {
color: #9b9999;
}
/*-------------------- Headings ---*/

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.general-sub {
  font-weight: 300;
}

.social-links li a i {
width: 32px;
height: 32px;
padding: 12px 0;
border-radius: 50%;
font-size: 13px;
line-height: 7px;
text-align: center;
color: #fff;
background: #8f8f8f;
padding-bottom: 15px;
transition: all 0.35s ease-in-out;
-moz-transition: all 0.35s ease-in-out;
-webkit-transition: all 0.35s ease-in-out;
-o-transition: all 0.35s ease-in-out;
}

.social-links-facebook i:hover {
background: #3b5998;
}

.social-links-twitter i:hover {
background: #00acee;
}

.social-links-youtube i:hover {
background: #ff0000;
}

h6 {
font-weight: 400;
text-transform: uppercase;
}

.section-heading {
text-align: center;
}
/*-------------------- Text ---*/

.uppercase {
text-transform: uppercase;
}

p.about {
padding-right: 15%;
padding-left: 15%;
text-align: center;
}

/*-------------------- Hover.css ---*/

/*-------------------- Footer ---*/

footer {
  border-style: solid;
  border-width: 10px 0px 0px 0px;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

footer h6 {
margin-top: 5px;
}

footer h6 i {
padding-right: 5px;
}

footer p {
font-size: 10px;
}

/*-------------------- Images ---*/

.dentalcare-image {
height: 629px;
width: 944px;
margin-left: auto;
margin-right: auto;
display: block;
padding-top: 10px;
border-radius: 75px;
}

/*-------------------- Media Queries ---*/

@media only screen and (max-width: 768px) {

.dentalcare-image {
max-width: 100%;
    height: auto;
}

p.about {
padding-right: 0;
padding-left: 0;
text-align: left;
}

/*-------------------- Icons ---*/

.icon {
margin-right: 10px;
margin-left: 20px;
}