@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700");

body {
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1em;
}

/*-------------------- Navbar ---*/

.menuitem a i {
  margin-right: 10px;
  margin-left: 20px;
}

/*-------------------- Colors ---*/

body {
color: #9b9999;
}

.navbar-light .navbar-brand {
color:#9b9999;
}

footer {
  background-color: #9b9999;
  border-color: #bffffb;
}

footer h6 {
color: #fff;
}

footer p {
color: #fff;
}

h3.section-heading a {
color: #9b9999;
}

/*-------------------- Headings ---*/

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.general-sub {
  margin: 20px 0 20px 0;
  font-weight: 300;
  font-size: 1.5em;
}

.social-links li a i {
width: 32px;
height: 32px;
padding: 12px 0;
border-radius: 50%;
font-size: 13px;
line-height: 7px;
text-align: center;
color: #fff;
background: #8f8f8f;
padding-bottom: 15px;
transition: all 0.35s ease-in-out;
-moz-transition: all 0.35s ease-in-out;
-webkit-transition: all 0.35s ease-in-out;
-o-transition: all 0.35s ease-in-out;
}

.social-links-facebook i:hover {
background: #3b5998;
}

.social-links-twitter i:hover {
background: #00acee;
}

.social-links-youtube i:hover {
background: #ff0000;
}

h6 {
font-weight: 400;
text-transform: uppercase;
}

.section-heading {
text-align: center;
}

div.section-heading {
margin-bottom: 0;
}

.section-heading a {
margin-top: 20px;
font-size: 0.75em;
}

h3.section-heading a {
text-decoration: none;
}

.page-header {
text-align: center;
margin-top: 20px;
margin-bottom: 40px;
}

.page-header h2 {
margin-bottom: 40px;
}

h2 span {
margin-left: 10px;
}

/*-------------------- Text & Links ---*/

p.about {
margin-top: 10px;
padding-right: 15%;
padding-left: 15%;
text-align: center;
}

p.section-overview {
margin-top: 10px;
margin-left: 60px;
}

div.linkitem {
padding: 0 0 0 10px;
}

a span {
padding-right: 10px;
}

a.moreinfo {
  float: right;
  text-decoration: none;
  background-color: #fff;
  color: #8f8f8f;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #8f8f8f;
  border-right: 1px solid #8f8f8f;
  border-bottom: 1px solid #8f8f8f;
  border-left: 1px solid #8f8f8f;
  border-radius: 75px;
  margin: 0 10px 10px 0;
  font-size: 0.8em;
}

.page-header p {
margin-left: 20%;
margin-right: 20%;
}

.services p {
margin-bottom: 40px;
}

/*-------------------- Hover.css ---*/

a.hvr-sweep-to-right:hover {
 -moz-border-radius: 75px;
  -webkit-border-radius: 75px;
  border-radius: 75px 75px 75px 75px;
}

.hvr-sweep-to-right:hover {
color: #8f8f8f;
 -moz-border-radius: 75px;
  -webkit-border-radius: 75px;
  border-radius: 75px 75px 75px 75px;
}

.hvr-sweep-to-right:before {
color: #8f8f8f;
background-color: #bffffb;
 -moz-border-radius: 75px;
  -webkit-border-radius: 75px;
  border-radius: 75px 75px 75px 75px;
}

/*-------------------- Footer ---*/

footer {
  border-style: solid;
  border-width: 10px 0px 0px 0px;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

footer h6 {
margin-top: 5px;
}

footer h6 i {
padding-right: 5px;
}

footer p {
font-size: 10px;
}

/*-------------------- Images ---*/

.dentalcare-image {
height: 629px;
width: 944px;
margin-left: auto;
margin-right: auto;
display: block;
padding-top: 10px;
border-radius: 75px;
}

.image-adjust {
    width: 250px;
    height: 250px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.services-image {
  display: inline;
  margin: 0 auto;
  margin-left: -40%;
  height: 100%;
  width: auto;
}

.services-image-secondary {
  display: inline;
  margin: 0 auto;
  margin-left: -5%;
  height: 100%;
  width: auto;
}

/*-------------------- Media Queries ---*/

@media only screen and (max-width: 768px) {

.dentalcare-image {
max-width: 100%;
    height: auto;
}

p.about {
padding-right: 0;
padding-left: 0;
text-align: left;
}

.section-heading {
text-align: left;
}

.image-adjust {
    width: 150px;
    height: 150px;
      display: block;
  margin-left: auto;
  margin-right: auto;
}

.general-sub {
text-align: center;
}

.page-header p {
margin-left: 0;
margin-right: 0;
}

/*-------------------- Icons ---*/

i.icon {
margin-right: 10px;
margin-left: 20px;
}

/*-------------------- Imported Code ---*/

/*-------------------- https://codepen.io/scottzirkel/pen/yNxNME ---*/

.hr-text {
  margin-top: 2em;
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .5;
}

.hr-text:before {
    content: '';
    background: linear-gradient(to right, transparent, #9b9999, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }

.hr-text:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;
    padding: 0 .5em;
    line-height: 1.5em;
    color: #9b9999;
    background-color: #fff;
  }


.container {
  max-width: 100%;  
  margin: 40px auto;
}

/*-------------------- Lists ---*/

ul {
list-style-type: circle;
}