@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700');

body {
font-family: 'Noto Sans JP', sans-serif;
}

/*-------------------- Navbar ---*/

.menuitem a i {
margin-right: 10px;
margin-left: 20px;
}

/*-------------------- Colors ---*/